* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    /*height: 1200px;
    min-height: 100%; */
}

/*
.uiTopPanel {
  line-height: 25px;
}

.uiCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}

.uiRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.uiCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
}

.uiGrid.unselectable {
  margin-top: 10px;
}
*/
.ui-grid-header {
    margin-top: 60px;
}

.ui-grid-cell-contents {
  white-space: normal;
}

.filter {
  height: 30px;
  margin-left: 40px;
}
